html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar {
  padding: 0.8rem 1rem;
}

.img-fluid.devops-web {
  max-width: 100%;
  height: auto;
  float: right;
}

.our-projects .custom-navigation .owl-nav {
  left: auto;
  right: 380px;
  top: -105px
}

.custom-navigation .owl-nav {
  border: 1px solid #3c37f1;
  display: flex;
  display: -webkit-flex;
  max-width: 80px;
  color: #3c37f1;
  height: 45px;
  position: absolute;
  bottom: 60px;
  left: 55px;
  border-radius: 50px;
}

.custom-navigation .owl-nav:after {
  width: 6px;
  height: 6px;
  background-color: #3c37f1;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 50%;
  content: '';
  transform: translate(-50);
}

.custom-navigation .owl-nav button {
  width: 40px;
  position: relative;
}

.custom-navigation .owl-nav button span {
  color: transparent;
}

.owl-theme .owl-nav:hover {
  background: none !important;
}

.custom-navigation .owl-nav .owl-prev span:before, 
.custom-navigation .owl-nav .owl-next span:before {
  width: 0;
  height: 0;
  position: absolute;
  top: 18px;
  left: 18px;
  content: '';
  border: solid #3c37f1;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(135deg);
}

.custom-navigation .owl-nav .owl-next span:before {
  transform: rotate(-50deg);
}

.blog-card p.card-text {
  margin-bottom: 20px;
}

.blog-card a {
  color: blue;
}
.blog-date-card {
  margin-bottom: 10px;
}

.blog-title-card {
  font-size: 2rem;
  color: #002856;
  margin-bottom: 76px
}

@media (max-width: 1200px) {
  .our-projects .custom-navigation .owl-nav {
    left: auto;
    right: 240px;
    top: -105px
  }
}

@media (max-width: 1024px) {
  .our-projects .custom-navigation .owl-nav {
    left: auto;
    right: 200px;
    top: -104px
  }
}

@media (max-width: 991px) {
  .our-projects .custom-navigation .owl-nav {
    left: auto;
    right: 268px;
    top: -100px
  }
}

@media (max-width: 767px) {
  .our-projects .custom-navigation .owl-nav {
    left: auto;
    right: 20px;
    top: -100px
  }
}
